body, h2, .navigation a, .navigation span{
	font-weight: 400;
}
h1{
	font-weight: 500;
}
a:hover, a:focus{
	color: chocolate !important;
	text-decoration: none;
}
.footer a{
	color: chocolate !important;
}
body{
	background-image: url("../images/remi-champlon-bakcground-light.jpg");
	background: no-repeat;
	background-size: 100%;
}
body.colorscheme-dark{
	background-image: url("../images/remi-champlon-bakcground-dark.jpg");
	background: no-repeat;
	background-size: 100%;
}
.colorscheme-light > .wrapper > .content > section > article > ul > li > a, .colorscheme-light > .wrapper > .content > section > article > p > strong > a{
	color: black !important;
}
.colorscheme-light > .wrapper > .content > section > article > ul > li > a:hover, .colorscheme-dark > .wrapper > .content > section > article > ul > li > a:hover, .colorscheme-dark > .wrapper > .content > section > article > p > strong > a:hover, .colorscheme-light > .wrapper > .content > section > article > p > strong > a:hover{
	color: chocolate !important;
}
.colorscheme-dark > .wrapper > .content > section > article > ul > li > a, .colorscheme-dark > .wrapper > .content > section > article > p > strong > a{
	color: #dadada !important;
}
body.colorscheme-dark h1 .heading-link, body.colorscheme-dark h2 .heading-link, body.colorscheme-dark h3 .heading-link, body.colorscheme-dark h4 .heading-link, body.colorscheme-dark h5 .heading-link, body.colorscheme-dark h6 .heading-link{
	color: chocolate !important;
}
body, .navigation a, .navigation span, .centered .about ul li a, {
	color: black;
}
.colorscheme-dark > .wrapper > .content > section > article > ul > li > strong > a{
	color: white;
}
.colorscheme-light > .wrapper > .content > section > article > ul > li > strong > a{
	color: black;
}
@media only screen and (max-width: 768px){
	body.colorscheme-dark .navigation .navigation-list {
		background-color: #111;
	}
}
.error > p > a{
	color: chocolate !important;
}
